html {
  font-family: sans-serif;
  font-size: 16px;
}

/*Header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 64px;
}

p {
  color: grey;
  line-height: 1.5;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
}

.logo img {
  height: 32px;
  width: auto;
}

.logo h3 {
  font-size: 1.25rem;
}

h3 .bold {
  font-weight: 900;
}

h3 .thin {
  font-weight: 300;
}

nav {
  margin-right: 24px;
}

nav span.desktop {
  margin-left: 16px;
}

nav span.mobile {
  display: none;
}

/*Banner*/
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgrey;
}

.banner .img_container {
  width: 60%;
  height: auto;
  overflow: hidden;
  margin: 32px 24px;
}

.banner .img_container img {
  width: 100%;
  height: auto;
}

.right_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  height: 50%;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem 1rem 1rem 0;
  line-height: 1.5;
  max-width: 80%;
}

.banner .right_column h4 {
  margin: 1rem 1rem 1rem 0;
  line-height: 1.5;
  font-size: 1.25rem;
  max-width: 80%;
  font-weight: 600;
}

.start_button {
  background-color: grey;
  color: white;
  width: 80%;
  text-align: center;
  padding: 8px 0;
  margin: 1rem 1rem 1rem 0;
}

/*Main information*/
.main_information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.left_column {
  width: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 32px 24px;
}

.main_information .left_column .img_container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main_information .left_column .img_container img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 1.75rem;
  font-weight: 750;
  margin-top: 32px;
  margin-bottom: 24px;
}

.left_column p {
  margin-bottom: 32px;
}

#start {
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.right_column .img_container {
  width: 35%;
  height: auto;
  overflow: hidden;
  margin: 32px 16px 16px 16px;
}

.right_column .img_container img {
  width: 100%;
  height: auto;
}

.sub_column {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 1.2;
  margin: 10px;
}

.sub_column h4 {
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.sub_column p {
  margin-bottom: 8px;
}

.sub_column a {
  text-decoration: none;
}

img.mobile {
  display: none;
}

/*Course List Section*/

.course_list {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 32px;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px 72px 32px 72px;
}

.course_wrapper {
  margin: 0px 32px 32px 0px;
  width: 25%;
  background-color: white;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
}

.course .course_description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  padding: 16px;
}

.course .course_description h4 {
  margin: 16px 10px 16px 10px;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
}

.course .course_description p {
  margin: 8px 10px 8px 10px;
  display: inline-block;
  font-size: 1rem;
}


.course .img_container {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}

.course .img_container img {
  width: 100%;
  height: 100%;
}



/*Thesis exhibit section*/
.exhibit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.exhibit .banner {
  background-color: white;
  margin: 0 0;
  align-items: flex-start;
  align-content: flex-start;
}

.exhibit .banner .left_column {
  margin: 32px 24px;
}

.banner .left_column .img_container {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0px 0px 24px 0px;s
}

.banner .left_column .img_container video {
  width: 100%;
  height: 100%;
}

.banner .left_column h4 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.25rem;
}

.right_column .sub_column h4 {
  margin: 16px 0px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  border-top: 2px solid grey;
}

footer p {
  margin: 24px;
}

footer span {
  margin-right: 12px;
}


/*Media Query for Mobile Site*/
@media only screen and (max-width:609px) {

  /*header*/
  header {
    height:64px;
  }

  nav span.desktop {
    display: none;
  }

  .logo {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
  }

  nav span.mobile {
    display: inline-block;
  }

  /*banner*/
  .banner {
    flex-direction: column;
  }

  .banner .img_container {
    width: 100%;
    margin-top: 0px;
  }

  .banner .right_column {
    width: 100%;
  }

  .right_column {
    text-align: center;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .start_button {
    padding: 15px;
    margin: 24px 0 32px 0;
  }

  /*main information*/
  .main_information .left_column {
    display: none;
    visibility: none;
  }

  .right_column .row {
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
  }

  img.desktop {
    display: none;
  }


  .right_column .img_container {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 32px 16px 16px 16px;
  }

  img.mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .row .sub_column {
    width: 100%;
    text-align: left;
  }

  .row .sub_column h4 {
    margin-left: 16px;
  }

  .row .sub_column p {
    margin-left: 16px;
  }


/*Courses section*/

  .course_list {
    background-color: white;
    padding: 16px;
  }

  .courses {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .course {
    align-items: center;
    width: 100%;
    margin: 0 0 0 0;
    background-color: lightgrey;
    margin-bottom: 8px;
  }

  .course .img_container {
    display: none;
  }

  .course img {
    display: none;
  }

  .course .sub_column {
    align-items: flex-start;
    margin: 0;
  }

  .course .sub_column p {
    display: none;
  }

  .course .sub_column h4 {
    margin-top: 16px;
    margin-bottom: 25px;
    margin-left: 16px;
  }

  /*Thesis exhibit section*/
  .exhibit {
    padding-left: 16px;
    padding-right: 16px;
  }

  .exhibit .banner {
    width: 100%;
  }

 .exhibit .banner .left_column {
    width: 100%;
    margin: 0 auto;
  }

  .exhibit .left_column h4 {
    display: none;
  }

  .exhibit .left_column p {
    display: none;
  }

  .exhibit .right_column {
    display: none;
  }

/*footer*/

footer p {
  display: none;
}

footer p#copyright {
  display: block;
}




}
